body {
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: #333;
}

h1 {
    text-align: center;
}

.logo {
    background-color: #ddd;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 20px;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #555;
}
