<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <h1>Login Page</h1>
        <div class="logo">
            <img src="../logo/Logo1.png" alt="Logo">
        </div>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Enter">
        </form>
    </div>
</body>
</html>
