<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist Page</title>
    <link rel="stylesheet" href="static/css/watchlist.css">
</head>

<body>
    <div class="watchlist-page">
        <div class="header">
            <form action="/watchlist" method="get">
                <button>Done</button>
            </form>
            <form action="/delete_all" method="post">
                <button>Delete All</button>
            </form>
        </div>

        {% for event in events %}
        <div class="event">
            <div class="event-image">
                <img src="static/placeholder.png" alt="Event Image" class="event-image">
            </div>
            <a>{{event.event_name}}</a>
            <p>{{event.date}}</p>
            <p>{{event.venue}}</p>

            <div class="alerts">
                <button>Price Drop Alert</button>
                <button>Inventory Alert</button>
                <button>Re-stock Alert</button>
            </div>

            <form action="/delete" method="post">
                <input type="hidden" name="event_id" value="{{event._id}}">
                <button>Delete</button>
            </form>
        </div>
        {% endfor %}


        <div class="nav-bar">
            <form action="/home" method="get">
                <button class="nav-button">Home</button>
            </form>
            <form action="/search" method="get">
                <button class="nav-button">Search</button>
            </form>
            <form action="/watchlist" method="get">
                <button class="nav-button">Watch List</button>
            </form>
            <form action="/settings" method="get">
                <button class="nav-button">Settings</button>
            </form>
        </div>
    </div>
</body>

</html>
